@import "~bootstrap/scss/mixins/_breakpoints";


.tv-lightweight-charts, .chart-controls {
  margin: 0 auto;

  .btn-group {
    padding-right: 10px;
  }
}


.dropdown {
  position: absolute;
}


#chart-display {
  margin: 20px 0;
  > div {
    margin: auto;
  }
} 

#chart-control {
  margin: 20px 10px;
  text-align: left;
} 

#coin-select {
  width: 180px;
}

.btn-group {
  margin-top: 10px;
}
