
/* bootstrap override variables */
$background-color:    #1d2126;
$dropdown-color:      #454d55;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@import "loader";

html {
  height: 100%;
}

html body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.App-header div {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

#Appbody {
  position: absolute;
  top: 11.2vh;
  bottom: 37px;
  right: 0;
  left: 0;
  overflow-y: auto;  
}

section {
  margin-bottom: 25px;
}

h2 {
  font-size: 2rem;
}



.page-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  margin: 0 12px;
}

.hide {
  display: none;
}

.table-container {
  margin-top: 15px;
}


.dropdown-form {
  position: relative;
  
  .search-icon {
    color: black;
    position: absolute;
    padding: 5px;
    height: 35px;
    width: 35px;
    top: 0;
    right: 0;
    pointer-events: auto;

  }
  .search-icon svg {
    font-size: 25px;
  }
  .fa-search.show {
    display: none;
  }
  .fa-times {
    display: none;
  }
  .fa-times.show {
    display: block;
  }
}

.dropdown-form .dropdown {
  padding: 0;
  margin: 0;
  width: 100%;
  user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background-color: $dropdown-color;
}

.dropdown li {
  list-style-type: none;
}

.demo-note {
  margin-top: 10px;
  font-size: smaller;
}

